.app-container {
  @apply flex justify-center items-center w-full h-screen bg-white;
}

.card {
  @apply relative w-96 h-full bg-white rounded-xl flex flex-col;
}

.scrollable-content {
  @apply flex-1 overflow-y-auto px-4 py-2;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.section-wrapper {
  flex: 1 1 auto;
  max-height: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

