.recent-scroll-container {
    @apply flex overflow-x-auto gap-3 pb-1;
  }
  
  .recent-circle {
    @apply w-[100px] h-[100px] rounded-full bg-gray-200 flex-shrink-0 flex items-center justify-center overflow-hidden;
  }
  
  .recent-preview-title {
    @apply text-xs font-semibold text-gray-600 mb-3 ml-1;
  }
  
  .recent-img {
    @apply w-full h-full object-cover; /* 원형을 덮도록 이미지를 자르기 */
  }
  
  .recent-scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  .recent-scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  